In [5]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('/mallcustomers.csv')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [10]:
data.describe

<bound method NDFrame.describe of      CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [12]:
import sklearn

In [13]:
from sklearn import preprocessing

In [14]:
le = preprocessing.LabelEncoder()

In [15]:
data['Gender']=le.fit_transform(data['Gender'])

In [16]:
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1       1   19                  15                      39
1             2       1   21                  15                      81
2             3       0   20                  16                       6
3             4       0   23                  16                      77
4             5       0   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196       0   35                 120                      79
196         197       0   45                 126                      28
197         198       1   32                 126                      74
198         199       1   32                 137                      18
199         200       1   30                 137                      83

[200 rows x 5 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    int64
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(5)
memory usage: 7.9 KB

In [18]:
def euclidean_distance(point1, point2):
    return np.sqrt(np.sum((point1 - point2) ** 2))
def kmeans_clustering(data, k, max_iterations=100):
    spending_scores = data["Spending Score (1-100)"].values.reshape(-1, 1)
    centroids = spending_scores[np.random.choice(spending_scores.shape[0], k, replace=False)]
    for _ in range(max_iterations):
        clusters = [[] for _ in range(k)]
        for score in spending_scores:
            distances = [euclidean_distance(score, centroid) for centroid in centroids]
            cluster_idx = np.argmin(distances)
            clusters[cluster_idx].append(score)
        new_centroids = np.array([np.mean(cluster) for cluster in clusters])
        if np.allclose(centroids, new_centroids):
            break
        centroids = new_centroids
    return clusters, centroids
k=3
clusters, centroids = kmeans_clustering(data, k)
print("Cluster centroids:")
print(centroids)
print("Clustered Spending Scores:")
for i, cluster in enumerate(clusters):
    print(f"Cluster {i + 1}:")
    print(cluster)

Cluster centroids:
[48.70967742 82.06896552 15.30612245]
Clustered Spending Scores:
Cluster 1:
[array([39]), array([40]), array([35]), array([35]), array([61]), array([35]), array([36]), array([61]), array([65]), array([55]), array([47]), array([42]), array([42]), array([52]), array([60]), array([54]), array([60]), array([45]), array([41]), array([50]), array([46]), array([51]), array([46]), array([56]), array([55]), array([52]), array([59]), array([51]), array([59]), array([50]), array([48]), array([59]), array([47]), array([55]), array([42]), array([49]), array([56]), array([47]), array([54]), array([53]), array([48]), array([52]), array([42]), array([51]), array([55]), array([41]), array([44]), array([57]), array([46]), array([58]), array([55]), array([60]), array([46]), array([55]), array([41]), array([49]), array([40]), array([42]), array([52]), array([47]), array([50]), array([42]), array([49]), array([41]), array([48]), array([59]), array([55]), array([56]), array([42]), array([50]), array([46]), array([43]), array([48]), array([52]), array([54]), array([42]), array([46]), array([48]), array([50]), array([43]), array([59]), array([43]), array([57]), array([56]), array([40]), array([58]), array([35]), array([34]), array([40]), array([36]), array([35]), array([63]), array([39])]
Cluster 2:
[array([81]), array([77]), array([76]), array([94]), array([72]), array([99]), array([77]), array([79]), array([66]), array([98]), array([73]), array([73]), array([82]), array([87]), array([73]), array([92]), array([81]), array([73]), array([75]), array([92]), array([91]), array([77]), array([95]), array([75]), array([75]), array([71]), array([88]), array([73]), array([72]), array([93]), array([87]), array([97]), array([74]), array([90]), array([88]), array([76]), array([89]), array([78]), array([73]), array([83]), array([93]), array([75]), array([95]), array([75]), array([92]), array([86]), array([69]), array([90]), array([86]), array([88]), array([97]), array([68]), array([85]), array([69]), array([91]), array([79]), array([74]), array([83])]
Cluster 3:
[array([6]), array([6]), array([3]), array([14]), array([15]), array([13]), array([29]), array([5]), array([14]), array([32]), array([31]), array([4]), array([4]), array([14]), array([17]), array([26]), array([28]), array([29]), array([11]), array([9]), array([5]), array([7]), array([10]), array([5]), array([12]), array([22]), array([17]), array([20]), array([16]), array([1]), array([1]), array([5]), array([26]), array([20]), array([27]), array([13]), array([10]), array([13]), array([15]), array([14]), array([32]), array([15]), array([24]), array([17]), array([23]), array([8]), array([16]), array([28]), array([18])]